<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 글쓰기
    body
        form(action="post", method="post")
            div
                span 제목
                input(type="text", name="title")
            div 
                span 작성자
                input(type="text", name="user")
            div
                span 내용
                input(type="text", name="content")
            div
                input(type="submit", value="작성")